.team {
    padding: 200px;
    text-align: center;
    
}

.container {
    padding: 0px;
    
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.description {
    margin-bottom: 50px;
    text-align: center;
}

.strong {
    font-size: 100px;
}






